body{
    background-image: url(Images/ross-findon-mG28olYFgHI-unsplash.jpg);
    background-size: 600px;
    background-position-y: 65%;
    background-color: rgba(15, 194, 218, 0.548);
    margin: auto;
    
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 7px solid burlywood; 
    border-radius: 50%;
    background-color: black;
    opacity: 88%;
}
h1{
    font-size: 50pt;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 72, 0);
}

h3{
    font-weight: bold;
    font-size: 14pt;
    text-align: center; 
   
}

p{
    
}

.content{
    width: 600px;   
    height: 315px;
    background-color: oldlace;
    padding: 15px;
    margin: auto;
    
}
.contentlist{
    width: 600px;   
    height: 200px;
    background-color: oldlace;
    margin: auto;
   
    
}

subheader{
    color: rgb(206, 255, 71);
    text-emphasis: 3px;
    font-size: 14pt;
}
ul{
    columns: 2;
}